<!----form-section-------->
<section id="account">
  <div class="container">
    <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <div class="row">
      <div class="col-lg-12 text-center"><a href="JavaScript:void(0);" class="btn btn-default createaccont">Get In to manage your articles</a><b></b><div>

      <div class="col-lg-12 top-space">
        <div class="form-inline">
         <div class="form-group no-margin">
          <label class="form-lable" for="inputEmail">Email Address</label>
          <%= f.text_field :email, class: 'form-control expand', id: 'inputEmail' %>
          <!-- <input type="email" class="form-control expand" id="inputEmail"> -->
        </div>
        <div class="form-group">
          <label class="form-lable" for="inputPassword">Password</label>
          <%= f.password_field :password, autocomplete: 'off', class: "form-control expand", id: "inputPassword" %>
          <!-- <input type="password" class="form-control expand" id="inputPassword"> -->
        </div>
      </div> 
    </div>

    <div class="col-lg-12 center">
      <%#= f.button 'Create My Account', class: 'btn btn-default myaccount' %>
      <a href="JavaScript:void(0);" class="btn btn-default myaccount" onclick="$('#new_user').submit();">Login</a>
    </div>       

  </div>
  <% end %>
</div>
</section>

<%= content_for :on_ready do %>
  $('#new_user').validate({
    rules: {
      'user[password]': {
        required: true,
        minlength: 8
      },
      'user[email]': {
        required: true,
        email: true
      }
    },
    messages: {
      'user[password]': {
        required: "Password field is required",
        minlength: "At least 8 characters required!"
      },
      'user[email]': {
        required: "Email field is required",
        email: "Email is not valid"
      }
    }
  });
<% end %>
