 <h1 style="display:inline;">My Article Dashboard </h1> 
 <%= link_to " show archives",index_archive_articles_path%>



<table class="table table-striped">
<tr>
  <td>Ordered</td>
  <td>Keywords</td>
  <td>Word Count</td>
  <td>Cost Complete</td>
  <td> view</td>

</tr>
<% @articles.each do  |a|%>
<tr>
  <td><%=a.created_at.strftime("%m/%d/%Y") %></td>
  <td><%=a.keywords%></td>
  <td><%=count_words(a.content)%></td>
  <td><%=number_to_currency(calculate_cost(a.content), :unit => "$")%></td>
  <td><%=link_to "Detail", article_path(a)%>|<%=link_to "download", download_article_path(a)%>|
    <% if !a.archive? %>
    <%=link_to "Archive", archive_article_path(a)%></td>
    <% end %>
</tr>
<% end %>
</table>

