<h1>My Article Dashboard</h1>
<table class="table table-striped">
<tr>
  <td>Ordered</td>
  <td>Keywords</td>
  <td>Word Count</td>
  <td>Cost Complete</td>
  <td> view</td>

</tr>
<% @article_archive.each do  |a|%>
<tr>
  <td><%=a.created_at.strftime("%m/%d/%Y") %></td>
  <td><%=a.keywords%></td>
  <td><%=count_words(a.content)%></td>
  <td><%=number_to_currency(calculate_cost(a.content), :unit => "$")%></td>
  <td><%=link_to "Detail", article_path(a)%>|<%=link_to "download", download_article_path(a)%></td>
</tr>
<% end %>
</table>

s