<div class="container">
<div><h1> Request Articles </h1></div>                New! Request Article Rewrites
<br/>
<p>
	Requesting articles is simple. All you need to do is enter the keywords you want each article created on (one set of keywords per line), then indicate how many different articles you want created around each set of keywords. Finally, choose the minimum word count of the articles and any additional options you require.
</p>
<h2>Article Keywords:</h2>
One set of keywords per line.
IMPORTANT! Product reviews require the extra research fee.
<br/>

<%= simple_form_for @request_article do |f| %>
  <%= f.input :keywords %>
  <%= f.input :exact_kewords ,label: 'Use my EXACT KEYWORDS in the article (otherwise the keywords will be treated as a general topic). If Exact Keywords are requested, each article will have the keywords in the title and three times in the body (for articles of 300 words or more; shorter articles will contain the keywords at least once in the body). ' %>
  <%=f.input :article_instruction,label:'Article Instructions and Details: (Optional)
Describe the angle or slant you want the article to have and give any additional article style and format requirements.Only available if you pay the style fee. [ Why? ]' %>
  <%=f.input :no_of_article ,collection: 1..10%>
  <%=f.input :word_count ,collection: %w[100 200 300 400 500 600 700 800 900 1000]%>
  <%=f.input :fixed_delivery_time,label: 'Guaranteed 24-hour delivery. (+$0.30/100 words) [?] ' %>
  <%=f.input :writer_stars, label:'Guaranteed four or five-star writers only. (+$0.30/100 words) [?] ' %>
  <%=f.input :depth_research,label:'In-depth research stipend. (+$0.30/100 words) [?]' %>
  <%=f.input :specific_style ,label:'Extra fee to allow specific article style requests in the instructions. (+$0.30/100 words) [?]'%>
  <%#=f.input :terms_and_conditions,label:'I understand and agree to the terms of service for article requests. ' %>
  <%=f.input :article_topic_warning, label:'None of my article keywords fall into any of the following categories: adult, gambling, hate, illegal activites. Submitting any requests in those categories may result in your account being permanently closed and your PayPal account banned from funding any other accounts. ' %>
  <%= f.button :submit,'submit request' %>
<% end %>
</div>