%h1 COOKIES POLICY

%h2 About cookies

%p Cookies are information packets sent by web servers to web browsers, and stored by the web browsers.

%p The information is then sent back to the server each time the browser requests a page from the server. This enables a web server to identify and track web browsers.

%p There are two main kinds of cookies: session cookies and persistent cookies. Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.

%h2 Cookies on our website

%p We use the following cookies on this website, for the following purposes:
%ul
	%li Session cookies, used for tracking your login IP
	%li Login detail cookies for verifying your login credentials
	%li A general site cookie for tracking the origin of the referring site from which you arrived at this site

%h2 Third party cookies

%p When you use this website, you may also be sent third party cookies, which may be used for the following purposes:
%ul
	%li Tracking your site viewing habits
	%li Tracking your entry and exit points
	%li All other related tracking information

%h2 Refusing cookies

%p Most browsers allow you to refuse to accept cookies.

%p In Internet Explorer, you can refuse all cookies by clicking "Tools", "Internet Options", "Privacy", and selecting "Block all cookies" using the sliding selector.

%p In Firefox, you can adjust your cookies settings by clicking "Tools", "Options" and "Privacy".

%p Blocking cookies will have a negative impact upon the usability of some websites.

%h2 Changes to this cookies policy

%p We may may amend this anti-spam policy at any time by publishing a new version on this website.

%p This page was last updated 24th June 2014

%h2 Contact us

%p Should you have any questions about this cookies policy, please contact us at 
%a{href: 'mailto:support@buyarticlesfast.com'}support@buyarticlesfast.com