%h1 EARNINGS DISCLAIMERS

%p The information presented in this Website is intended to be for your educational and entertainment purposes only.
%ul
	%li We are not presenting you with a business opportunity.
	%li We are not presenting you with a distributorship.
	%li We are not making any claims as to income you may earn.
	%li We are not presenting you with an opportunity to get rich.

%p Before embarking on any endeavor, please use caution and seek the advice your own personal professional advisors, such as your attorney and your accountant.

%p Where income figures are mentioned (if any), those income figures are anecdotal information passed on to us concerning the results achieved by the individual sharing the information. We have performed no independent verification of the statements made by those individual. Please do not assume that you will make those same income figures.

%p Please do not construe any statement in this website as a claim or representation of average earnings. There are NO average earnings. Testimonials and statements of individuals are not to be construed as claims or representations of average earnings. We cannot, do not, and will not make any claims as to earnings, average, or otherwise.

%p Success in any endeavor is based on many factors individual to you. We do not know your educational background, your skills, your prior experience, or the time you can and will devote to the endeavor.

%p Please perform your own due diligence before embarking on any course of action. Follow the advice of your personal qualified advisors.

%p There are risks in any endeavor that are not suitable for everyone. If you use capital, only "risk" capital should be used.

%p There is no guarantee that you will earn any money using any of the ideas presented in our materials. Examples in our materials are not to be interpreted as a promise or guarantee of earnings. Many factors will be important in determining your actual results and no guarantees are made that you will achieve results similar to ours or anybody else's. No guarantee is made that you will achieve any result at all from the ideas in our material.
You agree that we will not share in your success, nor will we be responsible for your failure or for your actions in any endeavor you may undertake.
Please understand that past performance cannot be an indication of possible future results.

%p Materials in our product and our website may contain information that includes or is based upon forward-looking statements within the meaning of the securities litigation reform act of 1995.

%p Forward-looking statements give our expectations or forecasts of future events. You can identify these statements by the fact that they do not relate strictly to historical or current facts. They use words such as "anticipate", "estimate", "expect", "project", "intend", "plan", "believe", and other words and terms of similar meaning in connection with a description of potential earnings or financial performance. Any and all forward looking statements in our materials are intended to express our opinion of earnings potential. They are opinions only and should not be relied upon as fact.

%h2 Changes to this Earnings Disclaimer

%p We may may amend this anti-spam policy at any time by publishing a new version on this website.

%p This page was last updated 24th June 2014

%h2 Contact us

%p Should you have any questions about this earnings disclaimer, please contact us at 
%a{href: 'mailto:support@buyarticlesfast.com'}support@buyarticlesfast.com