<div class="clearfix"></div>
<!--main-content-->
<h1 class="text-center">Why Use Us?</h1>
<section id="main-content">
  <div class="container">
    <div class="row">
      <div class="bg-content">
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-1.png" alt="">
          <h3>Buy Custom Written Articles Online</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-2.png" alt="">
          <h3>Professional Creative Writers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-3.png" alt="">
          <h3>Plagiarism-Free Content</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-4.png" alt="">
          <h3>Only Affordable Articles</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-5.png" alt="" >
          <h3>Fast Turn Around</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-6.png" alt="" >
          <h3>Get a Quote for Your Order</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-7.png" alt="" >
          <h3>Content Rewrites, Proofing & Editing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <img src="/assets/icon-8.png" alt="">
          <h3>Great Discounts</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed orci ornare dictum tellus nec, luctus libero.</p>
        </div>
      </div>            
    </div>
  </div>
</div>
<!----main-content-------->
<h1 class="text-center">Sample Articles</h1>
<section id="samplearticle">
  <div class="container sq-border">
    <div class="row">
      <div class="col-lg-9">
        <img src="/assets/icon-writtent.png" alt="" class="pull-left">
        <span class="pull-left">
          <b>192,657 Articles Written To Date</b>
          <p>With pricing this low, you probably think that the quality<br/> is low, too. NOT SO! Just take a look at a few samples of the              kind
            of quality you can expect from buyarticlesfast</p>
          </span>
        </div>
        <div class="col-lg-3">

          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="arrow-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="arrow-right"></span>
          </a>

        </div>
      </div>
    </div>
  </div>


  <div class="text-slider">
    <div id="myCarousel" class="carousel slide" data-interval="250000" data-ride="carousel">      
     <!--Carousel items-->
     <div class="carousel-inner">
      <div class="active item">
        <div class="container">
          <h2>The Best Weight Loss Tips For Women</h2>                                  
          <p>These days people are becoming more aware of the fact that being a healthy weight will extend your life. Too many people are              dying from obesity-related illnesses for people not to notice. There are many moms out there that need to stay healthy for the            sake of their children. This is why you should read this article about the best weight loss tips for women.<br/><br/>
           Make sure to eat enough that you get comfortably full. This is something that not many people know, and it makes a huge                  difference. How can you expect to lose weight if you are hungry every time you turn around? Portion size is very important when           eating, but that does not mean you should eat so little that you feel deprived. Think of your plate like a graph. At least half           of your plate should be filled with vegetables and/or fruit. The other parts of the plate should hold proteins and carbs.               Choosing high-fiber carbs will help you stay full for a longer period of tim<br/><br/>
           Cut out all drinks that contain a lot of sugar. This is vital, because many people consume unnecessary empty calories all of            the time. Why waste precious calories on drinks? Instead of drinking soft drinks and fruit juices that are laden with sugar,                reach for thinks like green tea, water and decaffeinated coffee. These are much healthier choices, so you can drink them                without having to worry about any weight gain.<br/><br/>
           You should never write an article about weight loss tips for women without including a section about desserts. This is an area            that many people find difficult to understand. The thing is that you do not have completely cut desserts out of your diet, but            you do have to make much better choices. Instead of eating piles of cookies daily, try eating two or three every once in a                  while. This will help you curb any cravings you have been having. On the other days, eat desserts that have little or no sugar            including sugarless jello, lite yogurt or fresh fruit.<br/><br/>
           Stop deep frying everything. Of course everything tastes better when it is submerged in a a vat of hot oil, but this is far             from a healthy choice. The amount of saturated fats in fried foods is astronomical, so these foods should be avoided like the               plague. If you are craving these type of foods, you should try to find recipes for baked versions of them. While baked chicken            and fries doesn't seem as indulgent, they will help you keep the weight off.<br/><br/>
           It is never easy for anyone to shed the extra pounds, but it seems to be a bit more difficult for females. Hopefully these              weight loss tips for women can help you a bit while you are on your nutritional journey. There may be times where it seems like           you have to make too many sacrifices, but in the end you will realize that it was all worth it. </p>                  
         </div>                
       </div>
       
        <% @sample_articles.each do |sa| %>
        <div class="item">
        <div class="container">
            <h2> <%= sa.keywords %></h2>
            <p><%= sa.content%></p>
        </div>
        </div>
        <% end %>
       
<!--        <div class="item">
        <div class="container">
          <h2>The Best Weight Loss Tips For Women-1</h2>                                  
          <p>These days people are becoming more aware of the fact that being a healthy weight will extend your life. Too many people are              dying from obesity-related illnesses for people not to notice. There are many moms out there that need to stay healthy for the            sake of their children. This is why you should read this article about the best weight loss tips for women.<br/><br/>
           Make sure to eat enough that you get comfortably full. This is something that not many people know, and it makes a huge                  difference. How can you expect to lose weight if you are hungry every time you turn around? Portion size is very important when           eating, but that does not mean you should eat so little that you feel deprived. Think of your plate like a graph. At least half           of your plate should be filled with vegetables and/or fruit. The other parts of the plate should hold proteins and carbs.               Choosing high-fiber carbs will help you stay full for a longer period of tim<br/><br/>
           Cut out all drinks that contain a lot of sugar. This is vital, because many people consume unnecessary empty calories all of            the time. Why waste precious calories on drinks? Instead of drinking soft drinks and fruit juices that are laden with sugar,                reach for thinks like green tea, water and decaffeinated coffee. These are much healthier choices, so you can drink them                without having to worry about any weight gain.<br/><br/>
           You should never write an article about weight loss tips for women without including a section about desserts. This is an area            that many people find difficult to understand. The thing is that you do not have completely cut desserts out of your diet, but            you do have to make much better choices. Instead of eating piles of cookies daily, try eating two or three every once in a                  while. This will help you curb any cravings you have been having. On the other days, eat desserts that have little or no sugar            including sugarless jello, lite yogurt or fresh fruit.<br/><br/>
           Stop deep frying everything. Of course everything tastes better when it is submerged in a a vat of hot oil, but this is far             from a healthy choice. The amount of saturated fats in fried foods is astronomical, so these foods should be avoided like the               plague. If you are craving these type of foods, you should try to find recipes for baked versions of them. While baked chicken            and fries doesn't seem as indulgent, they will help you keep the weight off.<br/><br/>
           It is never easy for anyone to shed the extra pounds, but it seems to be a bit more difficult for females. Hopefully these              weight loss tips for women can help you a bit while you are on your nutritional journey. There may be times where it seems like           you have to make too many sacrifices, but in the end you will realize that it was all worth it. </p>                  
         </div>

       </div> -->
<!--        <div class="item">
        <div class="container">
          <h2>The Best Weight Loss Tips For Women-2</h2>                                  
          <p>These days people are becoming more aware of the fact that being a healthy weight will extend your life. Too many people are              dying from obesity-related illnesses for people not to notice. There are many moms out there that need to stay healthy for the            sake of their children. This is why you should read this article about the best weight loss tips for women.<br/><br/>
           Make sure to eat enough that you get comfortably full. This is something that not many people know, and it makes a huge                  difference. How can you expect to lose weight if you are hungry every time you turn around? Portion size is very important when           eating, but that does not mean you should eat so little that you feel deprived. Think of your plate like a graph. At least half           of your plate should be filled with vegetables and/or fruit. The other parts of the plate should hold proteins and carbs.               Choosing high-fiber carbs will help you stay full for a longer period of tim<br/><br/>
           Cut out all drinks that contain a lot of sugar. This is vital, because many people consume unnecessary empty calories all of            the time. Why waste precious calories on drinks? Instead of drinking soft drinks and fruit juices that are laden with sugar,                reach for thinks like green tea, water and decaffeinated coffee. These are much healthier choices, so you can drink them                without having to worry about any weight gain.<br/><br/>
           You should never write an article about weight loss tips for women without including a section about desserts. This is an area            that many people find difficult to understand. The thing is that you do not have completely cut desserts out of your diet, but            you do have to make much better choices. Instead of eating piles of cookies daily, try eating two or three every once in a                  while. This will help you curb any cravings you have been having. On the other days, eat desserts that have little or no sugar            including sugarless jello, lite yogurt or fresh fruit.<br/><br/>
           Stop deep frying everything. Of course everything tastes better when it is submerged in a a vat of hot oil, but this is far             from a healthy choice. The amount of saturated fats in fried foods is astronomical, so these foods should be avoided like the               plague. If you are craving these type of foods, you should try to find recipes for baked versions of them. While baked chicken            and fries doesn't seem as indulgent, they will help you keep the weight off.<br/><br/>
           It is never easy for anyone to shed the extra pounds, but it seems to be a bit more difficult for females. Hopefully these              weight loss tips for women can help you a bit while you are on your nutritional journey. There may be times where it seems like           you have to make too many sacrifices, but in the end you will realize that it was all worth it. </p>                  
         </div>               
       </div> -->
     </div>        
   </div>
 </div>

 <!----testimonials-content-------->
 <section id="testionial">
  <div class="container"><h2 class="text-center">Sample Articles</h2>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6">
        <div class="col-lg-3 col-md-6 col-sm-6"><img src="/assets/testimoni-1.png" alt=""></div>
        <div class="col-lg-9 col-md-9 col-sm-9 feedback">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et sapien accumsan, commodo odio at, mattis neque.                            Nam por Suspendisse feugiat aliquam mauris id pulvinar. In luctus turpis sit amet mi tincidunt tincidunt. Etiam ut mollis                           nisl. Nam tempor non eros rhoncus luctus.;</p>
            <small>Dave Cole - <cite title="source title">Global Web Services
            </cite></small>
          </blockquote>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 col-md-6">
        <div class="col-lg-3 col-md-6 col-sm-6"><img src="/assets/testimoni-2.png" alt=""></div>
        <div class="col-lg-9 col-md-9 col-sm-9 feedback">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et sapien accumsan, commodo odio at, mattis neque.                            Nam por Suspendisse feugiat aliquam mauris id pulvinar. In luctus turpis sit amet mi tincidunt tincidunt. Etiam ut mollis                           nisl. Nam tempor non eros rhoncus luctus.;</p>
            <small>Dave Cole - <cite title="source title">Global Web Services
            </cite></small>
          </blockquote>
        </div>
      </div>            
    </div>  
  </div>
</section>

<!----form-section-------->
<section id="account">
  <div class="container">
    <%= form_for User.new, as: :user, url: registration_path(:user) do |f| %>
    <div class="row">
      <div class="col-lg-12 text-center"><a href="JavaScript:void(0);" class="btn btn-default createaccont">Create Your FREE Account Now</a>
        <b>No monthly or annual membership fees here. Create a free account and only pay for the articles you need.</b>
      </div>
      <div class="col-lg-12">
        <div class="form-inline">
          <div class="form-group no-margin">
            <label class="form-lable" for="inputEmail">First Name</label>
            <%= f.text_field :first_name, class: 'form-control expand', id: 'inputEmail' %>
            <!-- <input type="text" class="form-control expand" id="inputEmail"> -->
          </div>
          <div class="form-group">
            <label class="form-lable" for="inputPassword">Last Name</label>
            <%= f.text_field :last_name, class: 'form-control expand', id: 'inputPassword' %>
            <!-- <input type="text" class="form-control expand" id="inputPassword"> -->
          </div>
          <div class="form-group">
            <label class="form-lable" for="inputPassword">Username</label>
            <input type="text" class="form-control expand" id="inputPassword">
          </div>
        </div> 
      </div>

      <div class="col-lg-12 top-space">
        <div class="form-inline">
         <div class="form-group no-margin">
          <label class="form-lable" for="inputEmail">Email Address</label>
          <%= f.text_field :email, class: 'form-control expand', id: 'inputEmail' %>
          <!-- <input type="email" class="form-control expand" id="inputEmail"> -->
        </div>
        <div class="form-group">
          <label class="form-lable" for="inputPassword">Password</label>
          <%= f.password_field :password, autocomplete: 'off', class: "form-control expand" %>
          <!-- <input type="password" class="form-control expand" id="inputPassword"> -->
        </div>
        <div class="form-group">
          <label class="form-lable" for="inputPassword">Repeat Password</label>
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: "form-control expand" %>
        </div>
      </div> 
    </div>
    <div class="col-sm-2" style="margin-top:20px;color: white;">
      <%= f.hidden_field :user_type,:value=>"standard"%>
   Apply as Writer &nbsp;  &nbsp; &nbsp;<%= check_box_tag :apply_for_writer%>
    </div>
    <div class="col-lg-12 center">
      <%#= f.button 'Create My Account', class: 'btn btn-default myaccount' %>
      <a href="JavaScript:void(0);" class="btn btn-default myaccount" id='create-account'>Create My Account</a>
    </div>       
  </div>
  <% end %>
</div>
</section>

<%= content_for :on_ready do %>
  $('#apply_for_writer').click(function(){
    if ($('#apply_for_writer').is(":checked")){
    $('#user_user_type').val('writer');
    }
    else{
    $('#user_user_type').val('standard');
    }
  });
  
  $('#create-account').click(function(){
    $('#new_user').submit();
  });

  $('#new_user').validate({
    rules: {
      'user[password]': {
        required: true,
        minlength: 8
      },
      'user[password_confirmation]': {
        equalTo: "#user_password"
      },
      'user[email]': {
        required: true,
        customemail: true
      }
    },
    messages: {
      'user[password]': {
        required: "Password field is required",
        minlength: "At least 8 characters required!"
      },
      'user[password_confirmation]': "Repeat password should be same as password",
      'user[email]': {
        required: "Email field is required",
        customemail: "Email is not valid"
      }
    }
  });

  //custom validation rule
  $.validator.addMethod("customemail", 
      function(value, element) {
          return /^[a-z0-9\._-]+@[a-z0-9\._-]+\.(xn--)?[a-z0-9]{2,}$/i.test(value);
      }, 
      "Sorry, I've enabled very strict email validation"
  );
<% end %>
