%h1 ANTI-SPAM POLICY

%h2 What is spam?
%p In the context of electronic messaging, spam refers to unsolicited, bulk or indiscriminate messages, typically sent for a commercial purpose.
%br We have a zero-tolerance spam policy. We will only send you email in relation to products and services you have purchased from us, or other products and services in which you may be interested. You can opt out of receiving emails from us at any time, using the unsubscribe option included at the bottom of every email sent by us.

%h2 Automated spam filtering
%p Our messaging systems automatically scan all incoming email and other messages, and filter-out messages that appear to be spam.

%h2 Problems with spam filtering
%p No message filtering system is 100% accurate, and from time to time legitimate messages will be filtered-out by our systems.
%br If you believe this has happened to a message you have sent, please advise us or the message recipient by another means.

%p You can reduce the risk of a message being caught by the spam filters by sending the message in plain text (i.e. no HTML), removing any attachments, and ensuring that your messages are scanned for malware before dispatch.

%h2 User spam
%p We do not provide a facility on this site that enables users to send email messages / private messages to others. If such a facility is offered, users must not use this facility to send unsolicited, bulk or indiscriminate messages, whether or not for a commercial purposes.

%h2 Receipt of unwanted messages from us.
%p In the unlikely event that you receive any message directly from us sent using our systems that may be considered to be spam, please contact our support desk 
%a{href: 'mailto:support@buyarticlesfast.com'}support@buyarticlesfast.com 
with the details  of the matter and it will be investigated.

%h2 Changes to this anti-spam policy
%p We may may amend this anti-spam policy at any time by publishing a new version on this website.

%p This page was last updated 24th June 2014

%h2 Contact us
%p Should you have any questions about this anti-spam policy, please contact us at 
%a{href: 'mailto:support@buyarticlesfast.com'}support@buyarticlesfast.com