@charset "utf-8";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*-------------common------------*/
article, aside, footer, header, hgroup, menu, nav, section {display:block;}
.no-space {padding:0!important;}
ul li {list-style-type:none;}
ul {padding:0;}

/*-------------header------------*/
#wrapper {width:100%; background:url(/assets/bg.jpg) no-repeat center 0; height:635px;}
.wrapper-short {height: 100px !important;}
#wrapper header {padding-top:12px;}
span.login {background:url(/assets/icon-register.png) no-repeat; line-height:1; vertical-align:middle; display:block; padding-left:
20px;}
a.btn.btn-default.btn-register {background:url(/assets/bg-register.png) no-repeat; border:0; color:#fff; padding:11px 20px 12px 20px; text-transform:uppercase; margin-top:8px;  vertical-align:top;}
a.btn.btn-default.btn-login {background:url(/assets/bg-login.png) no-repeat; border:0; color:#fff; padding:11px 16px 12px 12px; text-transform:uppercase; margin:8px 1px 0 2px; vertical-align:top;}
span.register {background:url(/assets/icon-login.png) no-repeat; line-height:1; vertical-align:middle; display:block; padding-left:
20px;}
ul.social li {display:block; float:left;}
span.social {display:inline-block; padding-top:9px;}
section#banner-content .col-lg-6 {margin-top:130px;}
section#banner-content .col-lg-6 i,b,u {display:block; text-decoration:none; font-style:normal; color:#fff; padding:0; margin:0; font-weight:bold; text-transform:uppercase; line-height:75px;}
section#banner-content .col-lg-6 i {font-size:48px;}
section#banner-content .col-lg-6 b {font-size:110px;}
section#banner-content .col-lg-6 u {font-size:30px;}
section#banner-content div.col-lg-5 {color:#fff; font-size:19px; text-transform:uppercase; margin-top:100px;}
section#banner-content div.col-lg-5 ul li {line-height:35px; background:url(/assets/icon-list.png) no-repeat 0 center; padding:0; padding-left:22px;}
section#login-area .col-lg-12 {text-align:center; margin-top:55px;}
a.Member.Login {background:url(/assets/bg-member.png) no-repeat; font-size:16px; padding:25px 72px; border:0; color:#fff; line-height:42px;}
a.Member.Login b {font-size:24px; line-height:0;}
a.account {font-size:16px; background:url(/assets/bg-account.png) no-repeat; padding:25px 55px; border:0; color:#fff; line-height:42px;}
a.account b {font-size:24px; line-height:0;}
a.btn.btn-default.account:hover {background-color:transparent; color:#fff;}

/*-------------main-content------------*/
h1.text-center {margin:0; margin:50px 0 25px 0; color:34495e;}
section#main-content .container {/*background:#f6f6f6;*/}
section#main-content .bg-content {background:url(/assets/bg-services.png) no-repeat; float:left;}
section#main-content div.col-lg-3 h3 {font-size:1.1em; font-weight:bold; color:#2c3e50;}
section#main-content div.col-lg-3 p {font-size:0.9em;}
section#main-content .text-center {padding:29px;}

/*-------------sample-article------------*/

section#samplearticle span b {line-height:0; color:#34495e; font-size:1.125em; padding:1em 0; text-transform: capitalize;}
section#samplearticle .container.sq-border {border:1px solid #ddd;}
section#samplearticle .col-lg-9 {padding:20px;}
section#samplearticle .col-lg-9 img {padding-right:15px;}

/*-------------carousel------------*/
.carousel-control.left, .carousel-control.right {background:none;}
.carousel-inner .container {background:#fff !important;}
div.text-slider {margin-bottom:60px;}
span.arrow-left {background:url(/assets/arrow-left.png) no-repeat; width:40px; height:40px; display:block; margin-left:190px;}
span.arrow-right {background:url(/assets/arrow-right.png) no-repeat; width:40px; height:40px; display:block;}
span.arrow-left,span.arrow-right {margin-top:40px;}
#myCarousel .container h2 {font-size:18px; color:#34495e; font-weight:bold; margin:0; margin:30px 0;}
#myCarousel .container p {color:#2c3e50; font-size:14px;}

/*-------------testionial------------*/
section#testionial {background:#ededed; padding:50px 0 0 0;}
section#testionial .container {background-color:transparent;}
h2.text-center {margin:0; margin-bottom:45px;}
section#testionial .col-lg-6 {margin:0; padding:0;}  
section#testionial .feedback {
	background:url(/assets/bg-testi.png) no-repeat 100% 0; 
	width:459px; 
	height:162px; 
	padding:0; 
	width:459px;
	position:relative; 
	top:-140px; 
	float:right; 
	left:-15px;
}
.feedback blockquote {padding:0; font-size:13px; border:0 none; margin:40px 20px 0 25px; line-height:17px;} 
section#testionial .feedback small {font-size:13px; color:#828486; font-weight:bold;}
section#testionial .feedback cite {font-weight:normal;}
#testionial div.col-lg-3 {margin:0; padding:0;}

/*-------------account------------*/

section#account {background:#5d6e7e; padding:47px 0;}
section#account .container {background:#5d6e7e;}
a.createaccont {font-size:16px; padding:9px 52px; border:0; color:#fff; line-height:42px; background:#c0392b; box-shadow:0px 3px 0px #760c00; font-size:20px; font-weight:bold; text-transform:uppercase;}
div.col-lg-12.text-center {padding:0 !important; top:-75px; margin-bottom:-30px;}
label.form-lable {display:block; color:#FFF; font-size:14px; font-weight:normal; text-transform:capitalize;}
input.expand {width:366px !important; background:#768492; border:1px solid #8e9aa5; height:40px; color:#fff; /*text-transform:capitalize;*/}
section#account .col-lg-12 {padding:0;}
section#account .form-inline .form-group {margin-left:26px;}
.no-margin {margin:0 !important;}
div.col-lg-12.top-space {margin-top:20px;}
a.myaccount {padding:0 39px; border:0; color:#fff; line-height:40px; background:#16a085; box-shadow:0px 3px 0px #005e4c; font-size:16px; font-weight:bold; text-transform:uppercase; margin-top:28px;}
div.col-lg-12.center {text-align:center;}
section#account b {line-height:0; margin-top:35px;}

.error {color: #c0392b; font-weight: normal; display: table !important;}
input.error {border: 1px solid #c0392b;}

/*-------------about-content-bottom------------*/
section#about-content {padding:50px 0 32px 0; background:#2d3e50; color:#FFF; font-size:12px;} 
section#about-content .container {background:#2d3e50;} 
section#about-content h6 {font-size:18px; color:#FFF; margin:0; margin-bottom:20px;}
section#about-content .col-lg-9 {padding:0;}
section#about-content .col-lg-9 span {font-size:16px;}
section#about-content .col-lg-9 h5 {font-size:24px; color:#16a085; font-weight:bold; margin:0; margin-top:5px;}
section#about-content .col-lg-9 p {color:#a2a8ae; margin:0; margin-top:13px;}
section#about-content .col-lg-9 a {display:block; color:#a2a8ae; margin-top:12px;}

section#about-content .col-lg-3 {padding:0;}
section#about-content .col-lg-3 span {color:#a2a8ae;}
section#about-content .col-lg-3 input.subcribe {background:#768492; border:1px solid #8e9aa5; height:35px;}
section#about-content .col-lg-3 a.subcribe{padding:0 25px; border:0; color:#fff; line-height:35px; background:#16a085; 
box-shadow:0px 3px 0px #005e4c; font-size:16px; font-weight:bold; text-transform:uppercase;}
section#about-content .col-lg-3 b {line-height:normal; margin-top:10px;}
section#about-content .col-lg-3 .form-group {margin:10px 0;}
div.col-lg-3.spacing {padding-left:30px !important;}

/*-------------footer------------*/


footer {background:#2d3e50;}
footer .container {background:#2d3e50 !important; border-top: 1px solid #576573; color:#a2a8ae; padding:12px 0 40px 0;}
footer .col-lg-8 {line-height:40px; padding:0; color:#838c96; text-align:right;}
footer .col-lg-4 {padding:0;}
footer .col-lg-5 {padding:0;}
footer .col-lg-7 {padding:0;}
footer ul {padding-left:70px;}
footer ul li {display:block; float:left; line-height:40px;}
footer ul li a {color:#a2a8ae; font-size:13px; padding:0 3px; color:#838c96;}
footer ul li a:hover {text-decoration:none; color:#fff;}


/***********************************************************************************************************
											MEDIA QUERY
***********************************************************************************************************/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
section#testionial .feedback {float:left; width:459px; top:-140px; left:125px; margin-bottom:-70px;}
section#testionial .col-lg-6 {float:none;}
.no-margin {margin-left:26px !important;}
input.expand {width: auto !important;}
span.arrow-left {left:625px;}
section#banner-content .col-lg-6 {margin-top:30px;}
section#banner-content div.col-lg-5  {margin-top:10px;}
section#main-content .bg-content {background-image:none;}


}



@media (min-width: 768px) and (max-width: 1024px) {
section#banner-content .col-lg-6 i {font-size:40px;}	
section#banner-content .col-lg-6 b {font-size:90px;}
section#banner-content .col-lg-6 u {font-size: 25px; line-height:60px;}
section#banner-content div.col-lg-5 {margin-top:10px;}
section#banner-content .col-lg-6 {margin-top:10px;}
section#banner-content div.col-lg-5 ul li {line-height:25px;}
section#login-area .col-lg-12 {margin-top:30px;}
section#main-content .bg-content {background:none;}
.carousel-control {top:-60px; left:431px; width:10%;}
section#banner-content .col-lg-6 {margin-top:30px;}
section#testionial .feedback {background: url('/assets/bg-1.png') no-repeat scroll 100% 0px transparent; width:630px;}
.feedback blockquote {margin:50px 20px 0px 45px;}


}


@media (min-width: 1023px) and (max-width: 1024px) {
section#testionial .feedback {background: url('/assets/bg-2.png') no-repeat scroll 100% 0px transparent; width:860px;}
.feedback blockquote {margin:50px 20px 0px 45px;}
no-margin {margin:0px !important;}
input.expand {min-width:285px !important;}
}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
section#main-content .text-center {padding:0;}
input.expand {width: auto !important;}
section#account .col-lg-12 {padding:0 15px;}
ection#account b {line-height:21px;    margin-top: 15px;}
section#testionial .feedback {float:left; width:459px; top:-140px; left:125px; margin-bottom:-70px;}
section#testionial .col-lg-6 {float:none;}
section#banner-content .col-lg-6 {margin-top:30px;}
section#testionial .feedback {background: url('/assets/bg-1.png') no-repeat scroll 100% 0px transparent; width:630px;}
.feedback blockquote {margin:50px 20px 0px 45px;}
no-margin {margin:0px !important;}
input.expand {min-width:220px !important;}
section#account b {line-height:20px;}

}

@media (min-width: 767px) and (max-width:768px) {
section#testionial .feedback {float:left; width:459px; top:-140px; left:125px; margin-bottom:-70px;}
section#testionial .col-lg-6 {float:none;}
section#account b {line-height:20px;}
section#testionial .feedback {background: url('/assets/bg-1.png') no-repeat scroll 100% 0px transparent; width:630px;}
.feedback blockquote {margin:50px 20px 0px 45px;}
footer.col-lg-12.col-sm-12 {padding:0;}
footer .container {padding:20px 15px !important}
no-margin {margin:0px !important;}
input.expand {min-width:220px !important;}

}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
a.createaccont {line-height:32px; font-size:1em; padding:9px 24px;}
input.expand {width:100% !important;}
.no-margin {margin-left:26px !important;}
section#account .col-lg-12 {padding:0 12px !important;}
section#main-content .bg-content {background-image:none;}



section#banner-content .col-lg-6 {margin-top:20px; text-align:center;}
section#banner-content div.col-lg-5 {margin:25px 0px;}
section#login-area .col-lg-12 {margin-top:0;}
section#login-area .col-lg-12 {margin-top:0;}
section#banner-content .col-lg-6 i {font-size:1.9em;}
section#banner-content .col-lg-6 b {font-size:4.1em;}
section#banner-content .col-lg-6 u {font-size:1.4em;}
section#banner-content div.col-lg-5 {font-size:0.9em; text-align:center;}
section#banner-content div.col-lg-5 ul li {line-height:1.9em; background:none;}
section#banner-content .col-lg-6 i, b, u {line-height:1em;}
a.Member.Login {padding:1em 3em; background-size:cover; line-height:0.8em; margin-bottom:5px;}
a.Member.Login b {line-height:normal;}
a.account {background-size:cover; padding:1em 1.7em; line-height:0.8em;}
a.account b {line-height:normal;}
section#testionial .feedback {float:none; top:0; left:0; background:none; width:auto; height:auto;}
#testionial div.col-lg-3 {text-align:center;}
.feedback blockquote {margin:10px 20px 20px 25px;}
section#main-content .text-center {padding:0px;}
section#testionial .container {padding-bottom:30px;}
section#account b {line-height:18px; margin-top:15px;}
#wrapper header .col-lg-3, .col-lg-4 {text-align:center;} 
section#about-content .col-lg-9 {padding:0 15px;}
section#about-content .col-lg-3 {padding:20px 15px;}
footer .col-lg-8 {padding:0 15px;}
a.Member.Login b {font-size: 18px;}
a.account b {font-size:18px;}
footer ul {padding:0;}
footer ul li {line-height:20px;}
footer ul li a {font-size:12px; padding:0px 1px; color:#838C96;}
section#account .form-inline .form-group {margin-left:0 !important;}
section#about-content .col-lg-3 {padding-left:15px !important;}
footer .col-lg-7 {padding:0 15px;}
.carousel-control {left:290px;}
div.col-lg-8.copyright {text-align:center;}



}




/* Landscape phones and smaller */
@media (max-width: 480px) {
a.account {padding:1em 1.2em;}
a.Member.Login {padding:1em 3em;}
a.createaccont {padding:9px 15px;}
.carousel-control {top:-50px; left:30px;}

}



@media (min-width:321px) and (max-width:480px) {
footer .col-lg-7 {padding:0 15px;}
.carousel-control {left:160px;}

}



@media (min-width:359px) and (max-width:360px) {
.carousel-control {left:106px;}
span.arrow-left {margin-left:140px;}

}

ul.list-nav{
	/*min-width: 1000px;*/
	margin:7px;
}
a.title_header{
	display: inline-block;
	text-decoration:none;
	width:110px;
	color:#FFFFFF!important ;
	float:left;
	text-align:center;
	background-color:#829BB4;
	border-radius: 45px; 
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	padding: 10px!important;

}
.title_header:hover{
	background-color:#687C90!important;

}
.title_header:focus{
	background-color:#687C90!important;

}
/*a.title_header{
   background-image: url("../images/button-shadow.png");
   background-position: center top;
   background-repeat: repeat-x;
   border: 1px solid #233a71;
   border-radius: 25px;
   color: #ffffff;
   display: inline-block;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 16px;
   font-weight: bold;
   height: 41px;
   line-height: 42px;
   margin-left: 5px;
   margin-right: 5px;
   text-decoration: none;
}
*/

											
