- if !current_user and (current_page?(root_path) or current_page?(new_user_session_path))
  %section{id: 'banner-content'}
    .container
      .row
        .col-lg-6
          %i
            Quality Custom
          %b
            Articles
          %u
            At Affordable Prices
        .col-lg-5.col-lg-offset-1
          %ul
            %li
              Buy custom written articles online
            %li
              Professional Creative Writers
            %li
              Plagiarism-Free Content
            %li
              Only Affordable Articles
            %li
              Fast Turn Around
            %li
              Get a Quote for Your Order
            %li
              Free revisions
            %li
              Great discounts

  - if current_page?(root_path)
    %section{id: 'login-area'}
      .container
        .row
          .col-lg-12
            %a{href: new_user_session_path, class: 'btn btn-default Member Login'}
              %b
                Member Login
              Already have an account

            %a{href: '/#account', class: 'btn btn-default account'}
              %b
                Create Account
              Create Your FREE Account Now