%footer{class: 'col-lg-12 col-sm-12'}
  .container
    .row
      .col-lg-5.col-sm-5
        .col-lg-4
          = image_tag('footer-logo.png')
        .col-lg-8.copyright
          = "© 2014 Buyar Aicles Fast. All rights reserved."

      .col-lg-7.col-sm-7
        %ul
          %li= link_to 'Terms of Service', terms_path
          %li= link_to 'Privacy Policy', privacy_path
          %li= link_to 'Earnings Disclaimer', earnings_path
          %li= link_to 'Copyright Notice', copyright_path
          %li= link_to 'Billing Policy', billing_path
          %li= link_to 'Cookies Policy', cookies_path
