%header
  .container
    .row
      .col-lg-3.col-sm-5.col-md-5
        = link_to(image_tag("logo1.png", :alt => "") ,"/")
      .col-lg-5.col-sm-7.col-lg-offset-4.col-md-5.col-md-offset-2.no-space
        - unless user_signed_in?
          = link_to '/#account', class: "btn btn-default btn-register" do
            %span{class: 'login'}= I18n.t('auth.signup.link')
          - unless current_page?(new_user_session_path) 
            = link_to new_user_session_path ,class: "btn btn-default btn-login" do
              %span{class: 'register'}= I18n.t('auth.login.link')
        - else
          - if current_user.is_admin? or current_user.is_writer?
            = link_to '/admin', class: "btn btn-default btn-register" do
              %span{}= I18n.t('auth.admin.link')
          = link_to destroy_user_session_path ,class: "btn btn-default btn-register" do
            %span{class: 'register'}= I18n.t('auth.logout.link')

        %span{class: 'social'}
          =link_to(image_tag('icon-in.png'), "#{Rails.application.config.settings.social.linkedin}", target: '_blank')
          =link_to(image_tag('icon-fb.png'), "#{Rails.application.config.settings.social.facebook}", target: '_blank')
          =link_to(image_tag('icon-g+.png'), "#{Rails.application.config.settings.social.google_plus}", target: '_blank')
          =link_to(image_tag('icon-tiwtter.png'), "#{Rails.application.config.settings.social.twitter}", target: '_blank')

