%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to I18n.t('brand.name'), root_path, class: 'navbar-brand'
  - if user_signed_in?
    %ul.nav.navbar-nav
      %li.active
        = link_to "Dashboard", articles_path
      %li
        = link_to "Request", new_article_path 
      %li
        %a{href: "#"} Add Funds
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            = render 'users/avatar', size: :tiny
            %b.caret
          %ul.dropdown-menu
            - if current_user.is_admin? or current_user.is_writer? 
              %li= link_to I18n.t('admin.link'), rails_admin_path, data: {"no-turbolink" => true}
            %li= link_to I18n.t('account.edit.link'), edit_user_registration_path
            %li= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow
      - unless user_signed_in?
        %li= link_to I18n.t('auth.signup.link'), new_user_registration_path
        %li= link_to I18n.t('auth.login.link'), new_user_session_path
