%section{id: 'about-content'}
  .container
    .row
      .col-lg-9.col-sm-9
        %h6= "About Us"
        .col-lg-3.col-sm-3
          = image_tag('about.png', class: 'img-responsive')
        .col-lg-9.col-sm-9
          %span 
            Buyar Aicles Fast.com Run By A Trusted Name
            %br
            In Internet Marketing
          %h5="John Doe"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec orci nec tortor adipiscing sagittis. Mauris eleifend semper           orci, ac ultrices dui lacinia ac. Fusce id tristique quam, nec tincidunt enim. Suspendisse aliquam purus posuere iaculis                feugiat. Nam vel vulputate mauris. Pellentesque velit ipsum, placerat sed euismod ut, bibendum non massa. Cras in lacus a augue             cursus molestie. Morbi bibendum arcu felis, quis suscipit urna accumsan eget.
            %a{href: '#'} 
              Read More

      .col-lg-3.col-sm-3.spacing
        %h6="Subscribe to Newslerrer"
        %span
          Enter your email address to subscribe
          %br
          to our Newsletter
        .form-group        
          %input{type: "password", class: 'form-control subcribe', id: 'inputPassword'}
        %a{href: '#', class: 'btn btn-default subcribe'}= "Subscribe"
        %b="Follow us on"
        %span{class: 'social'}
          =link_to(image_tag('icon-in.png'), "#{Rails.application.config.settings.social.linkedin}", target: '_blank')
          =link_to(image_tag('icon-fb.png'), "#{Rails.application.config.settings.social.facebook}", target: '_blank')
          =link_to(image_tag('icon-g+.png'), "#{Rails.application.config.settings.social.google_plus}", target: '_blank')
          =link_to(image_tag('icon-tiwtter.png'), "#{Rails.application.config.settings.social.twitter}", target: '_blank')