!!!
%html.no-js{lang: 'en'}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title= content_for?(:title) ? yield(:title) : I18n.t('brand.name')
    %meta{content: (content_for?(:description) ? yield(:description) : I18n.t('brand.name')), name: 'description'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = javascript_include_tag 'ie', 'data-turbolinks-track' => true
    = javascript_include_tag 'head', 'data-turbolinks-track' => true
    = headjs_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body{class: "controller__#{controller_name} action__#{action_name}"}
    %section{id: 'wrapper', class: "#{(current_user.present?) ? 'wrapper-short' : ''}"}
      = render 'layouts/header'
      = render 'layouts/banner'
    .clearfix  
    - if user_signed_in?
      %nav.navbar.navbar-default{role: "navigation"}
        .navbar-header
          .navbar-brand{href: "#"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %div
          %ul.nav.navbar-nav.list-nav
            %li
              = link_to "Dashboard", articles_path,class: "title_header"
            %li
              = link_to "Request", new_article_path ,class: "title_header"
            %li
              %a{href: "#",class: "title_header"} Funds 
            %li
              %a{href: "#",class: "title_header"} SVN
    %section{id: 'main-content'}
      .container
        .errors__container
          = render 'layouts/messages'
      = yield

      - unless current_user
        = render 'layouts/newsletter'

      - if content_for? :footer
        = yield :footer
      - else
        = render 'layouts/footer'
    = render 'layouts/analytics'
    = render 'layouts/javascripts'
